* {
    margin: 0;
    padding: 0;
} body {
    background-color: red;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    text-align: center;
}
h1 {
    font-size: 100%;
    color: red;
    align-items: center;
    justify-content: center;
    height: 18vh;
    display: flex;
}
p {
    color: black;
    align-items: center;
        border-bottom: 2px solid black;
        padding-left: 10px;
        padding-right: 10px;
        margin: 20px;
    }
